.checked {
    color: orange;
}
.small-icon {
    
    width: 2vw;
    height: 1.2vw;
}
.guest-rate-btn {
    margin-left: 12%;
}
.detail-image {
    height: calc(10vh + 8vw);
    width:  calc(10vh + 8vw);
}

.detail {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: calc(1.5vw + 1.5vh)
}

.book-label {
    font-size: calc(1vw + 1.5vh);
}

.book-input, .book-select {
    font-size: calc(1vw + 1.2vh);
}
.book-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guest-rate-btn {
    width: calc(5vw + 3vh)
}

@media screen and (max-width: 500px) {

    .page-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}