.checked {
    color: orange;
}
.small-icon {
    
    width: 2vw;
    height: 1.2vw;
}

#details-container {
    display: grid;
    grid-template-areas:    'image title            title            back'
                            'image personalRating   personalRating   empty1'
                            'image guestsRating     guestsRating     empty1'
                            'image author           author           empty1'
                            'image publisher        publisher        empty1'
                            'image series           series           empty1'
                            'image buttons          buttons          empty1'; 
}
.title {
    grid-area: title;
}
.author {
    grid-area: author;
}
.personalRating {
    grid-area: personalRating;
}
.guestsRating {
    grid-area: guestsRating;
}
.publisher {
    grid-area: publisher;
}
.series {
    grid-area: series;
}
.buttonContainer {
    grid-area: buttons;
    /* display: grid;
    grid */
}
.guest-rate-btn {
    margin-left: 12%;
}
.detail-image {
    height: 100vh;
    width: 30vw;
    grid-area: image;
}
.navBack {
    grid-area: back;
}
.detail {
    background-color: palegoldenrod;
    border: solid 0.1vw palegoldenrod;
    border-radius: 1vw;
    width: 19.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
}
#return:hover {
    transition: all;
    transition-duration: 1s;
    transform: scale(2)
}