#credits-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98vh;
}
#credit-title {
    font-size: calc(3vw + 3vh);
    text-align: center;
}
.credit {
    font-size: calc(2vw + 3vh);
}

@media screen and (max-width: 500px) {
    #credits-container {
        justify-content: flex-start;
    }
}