.profile-btn {
    
    border: none;
}
.profile-icon {
    background-color: transparent;
    width: calc(2vw + 2vh);
    height: calc(2vw + 2vh);
}
.profile-icon:hover {
    width: calc(3vw + 3vh);
    height: calc(3vw + 3vh);
}
#profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    height: 98vh;
}
.details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-detail {
    font-size: calc(1vw + 2vh)
}
.profile-img {
    height: calc(10vw + 10vh);
    width: calc(10vw + 10vh);
}
.profile-description {
    width: 15vw;
    height: calc(3vw + 3vh);
    background: transparent;
    border: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
    left: calc(0.5vw - 0.5vh);
    outline: none;
    text-align: center;
    
}
.profile-description::-webkit-scrollbar {
    display: none;
  }