.cover {
    width: 21vw;
    height: 29vh;
}
.cover:hover {
   
    transition: all;
    transition-duration: 1s;
    transform: scale(1.1);
    
}
.cover-title {
    z-index: 100;
    font-size: 1.8vh;
    position: relative;
    bottom: 2vh;
}
.cover-title:hover {
    transition: all;
    transition-duration: 1s;
    transform: scale(1.2);
}