
  
  #simpleModal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);

  }
  
  .modal-content{
    color: #b7b7b7;
    background-color: white;
    width: calc(15vw + 10vh);
    height: calc(20vw + 40vh);
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    border: solid 1px white;
    border-radius: 1vw;
  }
  
  .modal-header{
    background: white;
    color: #b7b7b7;
    border-radius: 1vw;
    height: 10%;
    display: grid;
    grid-template-areas:  'empty empty empty empty close'
                          'empty1 empty1 title title title';
  }
  
  .modal-body{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 90%;
  }
  
  .modal-footer{
    background: white;
    padding: 10px;
    color: #b7b7b7;
    text-align: center;
    border: solid 1px white;
    border-radius: 1vw;
  }
  
  .closeBtn{
    font-size: 1.5vw;
    color: #b7b7b7;
    float: right;
    grid-area: close;
  }
  .modal-title {
    grid-area: title;
    font-size: 2vw;
  }
  
  .closeBtn:hover,.closeBtn:focus{
    color: #b7b7b7;
    text-decoration: none;
    cursor:  pointer;
  }
  
  