
  
  #simpleModal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);

  }
  
  .modal-content{
    color: #b7b7b7;
    background-color: white;
    width: calc(15vw + 10vh);
    height: calc(25vw + 35vh);
    box-shadow: 0 1vh 1.5vh 0 rgba(0,0,0,0.2),0 1vh 2vh 0 rgba(0,0,0,0.17);
    border: solid 1px white;
    border-radius: 1vw;
    z-index: 100;
  }
  
  .modal-header{
    background: white;
    color: #b7b7b7;
    border-radius: 1vw;
    height: 20%;
    display: grid;
    grid-template-areas:  'empty empty empty empty emtpy close'
                          'empty1 title title title title  empty2';
                            
  }
  
  .modal-body{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 80%;
  }
  
  .modal-footer{
    background: white;
    padding: 10px;
    color: #b7b7b7;
    text-align: center;
    border: solid 1px white;
    border-radius: 1vw;
  }
  
  .closeBtn{
    font-size: calc(1.5vw + 2vh);
    color: #b7b7b7;
    float: right;
    grid-area: close;
    text-align:center;
    
  }
  .modal-title {
    grid-area: title;
    font-size: calc(2vw + 1vh);
    text-align: center;

  }
  
  .closeBtn:hover,.closeBtn:focus{
    color: #b7b7b7;
    text-decoration: none;
    cursor:  pointer;
  }
  
  