.remove-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.remove-text {
    text-align: center;
    font-size: calc(1vw + 2vh);
}
.remove-btn-container {
    display: flex;
    justify-content: center;
    
}