.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  list-style: none;
}
.edit-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 20vw;
  width: 10vw;
}

input {
  height: 2vw;
  width: 9.55vw;
  font-size: 1vw;
  border-radius: 10px;
  outline: none;
  border: solid 0.1vw grey;
}

.edit-detail {
  margin-top: 0vw;
}
label {
  font-size: 1vw;
}

button {
  border-radius: 10px;
  border: none;
}

.accept-btn {
  background-color: rgb(20, 225, 20);
  height: 2vw;
  font-size: 1vw;
}

.accept-btn:hover {
  background-color: palegreen;
}

.modal-btn {
  position: relative;
  top: 1vw;
}