.App {
  height: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  transition: all;
  transition-duration: 1s;
  transform: scale(1.2);
  color: rgb(150, 150, 255);
}
.page-container {
  height: 100vh; 
}
.edit-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 20vw;
  width: 10vw;
}

input {
  height: 2vw;
  width: 9.55vw;
  font-size: 1vw;
  border-radius: 1vw;
  outline: none;
  border: solid 0.1vw grey;
}

.edit-detail {
  margin-top: 0vw;
}
label {
  font-size: 1vw;
}

button {
  border-radius: 1vw;
  border: none;
}

.accept-btn {
  background-color: rgb(20, 225, 20);
  height: 3vw;
  width: 10vw;
  font-size: 1.5vw;
}


.accept-btn:hover {
  background-color: palegreen;
}

.reject-btn {
  background-color: rgb(225, 20, 20);
  height: 3vw;
  width: 10vw;
  font-size: 1.5vw;
}

.reject-btn:hover {
  background-color: rgb(247, 149, 149);
  height: 3vw;
  font-size: 1.5vw;
}

.modal-btn {
  position: relative;
  top: 1vw;
}